html, body, figure, div, input, textarea{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
    color: #fff;
    height: 60px;
}
a {
    text-decoration: none;
}
a.return {
    color: #fff;
    font-size: 1.2rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#games {
    margin: 20px auto;
}

#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 1.9rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

p {
    margin: 5px;
}


img {
    width:250px;
}

.boxGames {
    border: 2px solid black;
    width: 260px;
    height: 320px;
    margin: 50px auto 90px;
}

.buttonGames {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameOn {
    background-color: rgb(24, 24, 24);
    color: #fff;
}

#gameOn:hover{
    background-color: rgb(255, 0, 0);
    color: #fff;
}


@media only screen and (min-width: 768px) {
    header{
        height: 100px;
    }
    
    a.return {
        font-size: 2rem;
        padding: 25px;
    }
    
    h1 {
        font-size: 3rem;
        margin: 10px;
    }
    
    p {
        font-size: 1.2rem;
        margin: 5px;
    }
    
    
    img {
        width: 300px;
    }
    
    .boxGames {
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .buttonGames {
        width: 200px;
        height: 60px;
        margin: 30px auto;
    }

}
