html, body, figure, div, input, textarea{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 300px;
    margin: 40px auto 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.regrasSlot {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    border: 1px solid black;
    width: 90px;
    display: flex;
    margin: 2px;
    align-items: center;
    justify-content: center;
}

div.title {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width: 768px) {
    .content {
        width: 700px;
    }
    
    .regrasSlot {
        margin: 20px auto;
        font-size: 20px;
    }
    
    img {
        border: 1px solid black;
        width: 220px;
        margin: 15px 20px;
    }
    
    div.title {
        font-size: 1.8rem;
    }

}